# phpstorm project files
.idea
.idea/*
.idea/
.sass-cache
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

composer.lock

config/console.php
config/db.php
config/params.php
config/test.php
config/test_db.php
config/web.php

runtime/*
web/assets/*

uploads/*
records-tmp/*
records/*
records/
records-user/*
records-user
records-tmp

/commands/recordbuilder/cjr.conf

/cjr.log
/commands/recordbuilder/__pycache__/
/commands/recordbuilder/cjr.conf.save
